<%- include("../partials/head.ejs") %>
</head>
</head>
<body>
    <h1> Thank you</h1>
    <h3> You have submitted the following information</h3>
    <br>
    <p>Full Name: <%= submitted.name %></p>
    <p>Email: <%= submitted.email %></p>
    <p>Message: <%= submitted.message %></p>
</body>
</html>